# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__
venv
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache

# Node
**/node_modules
node_modules/
src/frontend/node_modules
npm-debug.log
yarn-error.log

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Project specific
db.sqlite3
media
staticfiles
src/frontend/dist
src/frontend/build
